<div class="input-container">
    <input type="text" class="custom-input" placeholder="Search">
    <div class="custom-input-autocomplete">
        <div>
            <label>
                Option 1
            </label>
        </div>
        <div>
            <label>
                Option 2
            </label>
        </div>
        <div>
            <label>
                Option 3
            </label>
        </div>
        <div>
            <label>
                Option 4
            </label>
        </div>
    </div>
</div>