<div class="input-container">
    <input type="text" class="custom-input" placeholder="Search" #searchInput>
    <span class="loading-icon" *ngIf="loading"></span>
    <div class="custom-input-autocomplete" *ngIf="options.length">
        <div *ngFor="let option of options" class="row custom-row">
            <div class="col-5 col-md-3 d-flex justify-content-center align-items-center">
                <img [src]="option.user.avatar_url" alt="" class="profileImg">
            </div>
            <div class="col-7 col-md-9">
                <div class="paragraph">
                    <span class="fw-bold">N°: </span>
                    <span class="">{{ option.number }}</span>
                </div>
                <div class="paragraph">
                    <span class="fw-bold">Date: </span>
                    <span class="">{{ option.created_at | date: 'mediumTime' }}</span>
                </div>
                <div class="paragraph">
                    <span class="fw-bold">Author: </span>
                    <span class="">{{ option.user?.login || '-' }}</span>
                </div>
                <div class="paragraph">
                    <span class="three-row-text">{{ option.title }}</span>
                </div>
            </div>
        </div>
    </div>
</div>