.input-container {
    width: 100%;

    .custom-input {
        outline: none;
        background:#fff;
        border: none;
        height: 35px;
        width: 300px;
        padding: 5px;
        border-radius: 3px;
    }

    .custom-input-autocomplete {

    }
}